.header {
  width: auto;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 70px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  
  
}

.compName{
 color:#ffffff
  
}

.header .leftSide img {
  width: 45px;
  height: 45px;
}

.body{

}
h2{
  flex: 100%;
  width: 90%;
  display: flex;
  padding-left:90px;
  padding-top: 10px;
  
}
.stats{
  width: 90%;
  height: auto;
  display: grid;
  place-items: left;
  padding-left: 90px;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.vitals{
  display: grid;
  grid-template-columns: 1fr 1fr .5fr;
  border-radius: 15px;
  width: 620px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-top: -30px;
}


.ahw{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr .7fr;
  border-radius: 15px;
  width: 620px;
  height: 200px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


.hrs{
  display: grid;
  grid-template-columns: 1fr .3fr;
  border-radius: 15px;
  width: 325px;
  height: 250px;
  margin: 20px;
  margin-left:70px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.vacBal{
  display: grid;
  grid-template-columns: 1fr .3fr;
  border-radius: 15px;
  width: 325px;
  height: 200px;
  margin: 20px;
  
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

}
.extra{
  display: grid;
  grid-template-columns: 1fr .3fr;
  border-radius: 15px;
  width: 325px;
  height: 250px;
  margin: 20px;
 
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.stats img{
  width: 45px;
  height: 45px;
  margin-left: 20px;
  margin-top: 30px;
  
}
.ahw img{

  margin-left: 15px;
  
  
}
.vitals img{

  margin-left: 20px;
 
  
}

.hrs img {
  margin-right: 20px;
}
.vacBal img {
  margin-right: 20px;
}
.hrs div{
  font-size:80px;

}

.vacBal div{
  font-size:65px;
}
.hrsExercise h4{
  padding-left:10px;
}
.hrsWork h4{
  padding-left:10px;
}
.stats h4{
  margin-top: 30px;
  color:rgb(143, 150, 156);
  
}
h4 div{
  
  color:black;
  margin-top:20px;
  font-size: 50px;
 
}

#hT{
  margin-top:-5px;
}
#hT2{
  margin-top:-5px;
}





.toprow {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top:20px;
  
}

select{
  
  margin-right:10px;
  
}
.compName{
  margin-left:20px;
}

.selectGender{
  margin-left: 30px;
}
.addE{
  margin-left: 1000px;
}



@media only screen and (max-width: 1500px) {
  .toprow{
    display:grid;
    grid-template-columns: .1fr .1fr .1fr;
    margin: 10px;
    place-items: center;
   
   }
    .addE
    {
     margin-left:-65px;
     
     
    }
    }
    @media only screen and (max-width: 650px) {
      .toprow{
       display:grid;
       grid-template-columns: 1fr;
       margin: 10px;
       place-items: center;
       align-content:space-between;
       grid-gap:4px;
      }
  
      .addE
      {
       margin-left:5px;
      }
       }
    
     
     
  



